.q-hero-top {
  display: flex;
  margin: 30px 0;
  /* box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.16); */
  border-radius: 10px;
}

.q-hero-top .splide__list > div {
  display: flex;
}

.q-hero-top .q-hero-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.q-hero-top .q-hero-text {
  background: #fff;
  width: 50%;
  padding-bottom: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.q-hero-text{
  float: left;
}

.q-hero-top h1 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.3px;
  margin: 30px 20px 12px 40px;
}


.q-hero-top strong {
  font-size: 20px;
  letter-spacing: -0.2px;
  margin: 0px 20px 18px 40px;
  display: block;
}

.q-hero-top p {
  font-size: 16px;
  line-height: 1.38;
  margin: 0 20px 24px 40px;
}

.q-hero-top .q-buynow-cta {
  margin: 0 20px 0 40px;
}

.q-award-panel {
 h1, p , strong, .q-hero-top p{
   color : #fff;
 }
 .q-hero-text{
   background: rgba(255, 255, 255, 0);
   float: left;
 }
}

.q-award-panel{
 p{
   color: #fff;
 }
}

/* Gan changes - Award panel can have mulitple slides, to avoid layout shift handled with height*/

.q-hero-top.q-award-panel {
  box-shadow: none;
  margin: 30px 0;
}

.q-award-panel .splide__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(106deg, #00556c, #468da9 100%, #8fc7e8 134%);

}

.q-award-panel .splide__list > div {
  display: contents;
}

.q-award-panel h1 {
  height: 75px;
  overflow: auto;
}

.q-award-panel .q-description {
  height: 66px;
  overflow-y: auto;
}

.q-award-panel .q-hero-img {
  justify-content: center;
  align-items: center;
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.q-award-panel .splide.splide__page-arrows .splide__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.q-award-panel .splide__arrow {
  margin: 0 8px;
}

.q-icon-brand {
  --slds-c-icon-color-foreground-default: #fb4f14;
}

.q-award-panel .splide__pagination {
  display: inline-flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.q-award-panel .splide__pagination li {
  list-style-type: none;
  display: inline-block;
  line-height: 1;
  margin: 0;
}

.q-award-panel .splide .splide__pagination li button {
  border: 1px solid #fb4f14;
  background-color: transparent;
  border-radius: 50%;
  margin: 4px;
  height: 12px;
  width: 12px;
  padding: 0;
  vertical-align: top;
  cursor: pointer;
}

.q-award-panel .splide .splide__pagination li button.is-active {
  background-color: #fb4f14;
}

@media (max-width: 767px) {
  .q-hero-top {
    margin: 0;
  }
  .q-hero-top .splide__list {
    flex-direction: column-reverse;
  }

  .q-hero-top .splide__list > div {
    flex-direction: column-reverse;
  }

  .q-hero-top .q-hero-img,
  .q-hero-top .q-hero-text {
    width: 100%;
  }

  .q-hero-top .q-hero-img {
    border-top-left-radius: 10px;
  }

  .q-hero-top .q-hero-text {
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  .q-hero-top h1,
  .q-hero-top strong,
  .q-hero-top p,
  .q-hero-top .q-buynow-cta {
    margin-left: 10px;
    margin-right: 10px;
  }

  .q-award-panel h1,
  .q-award-panel .q-description {
    height: auto;
    overflow: initial;
  }
}

/* Buttons Styling */
.q-cta-orange{
  width: 303px;
  height: 51.2px;
  border: 2px solid #fb4f14;
 color: #fff;
 background-color: #fb4f14;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
}
.q-cta-orange:hover{
 background-color: #d83a04;
 border: 2px solid #d83a04;
}
.q-buynow-cta{
 color: #fff;
 }

.q-award-panel{
 .q-cta-orange{
   width: 213.2px;
   text-decoration: underline;
 }
 .q-cta-orange:hover{
   text-decoration: none;
 }
}


@media (max-width: 479px){
  .q-award-panel{
    .q-hero-text{
      text-align: center;
    }
    .q-hero-img{
      margin: 40px 20px 0;
    }
  }
  .q-product-boxes{
    margin: 20px 20px 40px 20px;
  }
  .q-buynow-cta{
    justify-content: center;
    display: flex;
  }
}