.product-tile {
    height: 544px;
    width: 466px;
    float: right;
    border-radius: 11px;
    /*box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);*/
    padding: 12px 16px 16px;
    margin-bottom: 25px;
    position: relative;
    display: grid;
}

.single-product-tile {
    /*height: 411px;*/
    width: 466px;
    float: right;
    border-radius: 11px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    padding: 12px 16px 16px;
    margin-bottom: 25px;
    position: relative;
    display: grid;
}

.product-content{
    margin-top: 0px;
}
.current-price{
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: left;
    color: #3e831c;
    margin: 14px 0 0 14px;
    display: inline-block;
}
.current-price.guest {
    font-size: 22px;
}
.product-description{
    letter-spacing: -0.16px;
    color: #737373;
    margin: 14px 0 0 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.quantity-single-prd {
    display: ruby;
    margin: 20px 0 20px 14px;
    display: inline-block;
}
.quantity-single-prd input{
    width: 78px;
    height: 40px;
    padding: 8px 12px 8px 1px;
    border: 1px solid #eee;
    font-size: 20px;
    color: #00556c;
    margin-left: 10px;
}
.quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.quantity input{
    width: 78px;
    height: 40px;
    padding: 8px 12px 8px 1px;
    border: 1px solid #eee;
    font-size: 20px;
    color: #00556c;
    margin-left: 10px;
}

strong{
    width: 150px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: -0.18px;
    color: #737373;
}

.product-selling-model{
    padding: 20px 0 10px;
    border-top: 2px solid #eee;
    margin: 20px 0 20px 14px;
}

p{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.18px;
    color: #aaa;
    padding: 4px 0;
}

.addToCart-button,.addToCart-button-single{
    border: 2px solid #fb4f14;
    color: #fff;
    background: #fb4f14;
    padding: 14px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    /*margin-left: 14px;*/
}
.addToCart-button-single {
    margin-left: 14px;
}

.addToCart-button:hover{
    background: #d83a04;
    border: 2px solid #d83a04;
    color: #fff;
}

.tooltip-icon {
    padding-left: 5px;
}

.product-variations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Space between items */
    justify-content: flex-start; /* Align items to the left */
}

.variation-block {
    flex: 1 1 calc(33.33% - 16px); /* Adjust to display three items per row */
    border: 1px solid #e0e0e0;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.variation-block h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.actions {
    margin-top: 16px;
    position: relative;
}
.visible {
    display: block;
}

.hidden {
    display: none;
}

.msrp {
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: line-through;
    margin: 1rem 1rem;
    /* font-size: 18px !important; */
}
.dropdown-toggle {
    border-radius: 11px;
    background-color: #fff;
    padding: 12px 16px 16px;
    margin-bottom: 25px;
    position: relative;
    width: 420px;
    height: 60px;
    display: block;
    border: unset;
}
.variation-details {
    border-radius: 11px;
    /* box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08); */
    background-color: #fff;
    padding: 12px 24px 16px;
    margin-bottom: 25px;
    position: relative;
    bottom: 40px;
    width: 420px;
}
.variation {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    width: 411px;
    border-radius: 11px;
}
.quantity-input {
    width: 60%;
}
.variation-version {
    margin: 7px 0 0;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    /* font-stretch: normal; */
    /* font-style: normal; */
    line-height: 1;
    /* letter-spacing: -0.2px; */
    /* text-align: left; */
    color: #00556c;
    cursor: pointer;
    float: left;
}
.variation-price-toggle {
    font-size: 20px;
    font-weight: bold;
    /* font-stretch: normal; */
    /* font-style: normal; */
    /* line-height: 1; */
    /* letter-spacing: -0.2px; */
    /* text-align: left; */
    color: #3e831c;
    /* margin-right: 10px; */
    float: left;
    padding-left: 8px;
}
.discounted-price-toggle {
    font-size: 20px;
    /* font-weight: normal; */
    /* font-stretch: normal; */
    /* font-style: normal; */
    line-height: 1.5;
    /* letter-spacing: -0.2px; */
    /* text-align: left; */
    color: #aaa;
    text-decoration: line-through;
    float: left;
    padding-left: 8px;
}
.chevron-icon {
    float: right;
    /* margin-top: 8px; */
    /* padding-left: 4px; */
    left: 6px;
    position: relative;
    /* bottom: 5px; */
    top: 8px;
}
.variation-price {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: left;
    color: #3e831c;
    display: inline-block;
    margin: 14px 0 0 0px;
}
.variation-price.guest {
    font-size: 22px;
}

.disPrice {
    margin: 3px 0 0 14px;
    color: #fd4f14;
    font-style: normal;
    letter-spacing: -0.2px;
}

.discounted-price, .msrpPrice {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: left;
    color: #aaa;
    text-decoration: line-through;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.product-variations {
    overflow-y: scroll;
    height: 400px;
}
.product-variations::-webkit-scrollbar {
    background-color: #ccc;
    width: 5px;
    box-shadow: inset 0 0 0 1px white;
    height: auto;
}
.product-variations::-webkit-scrollbar-thumb {
    background-color: #00556c;
}

.atc-modal .slds-modal__header {
    border-bottom: 0;
    padding: 0;
    color: #fff;
}

.atc-modal .slds-modal__content {
    text-align: center;
}

.atc-modal .slds-modal__footer {
    border-top: 0;
}

.success-header {
    background-color: #2e844a;
}

.error-header {
    background-color: #ba0517;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    top: -40px;
    left: 24%;
    transform: translateX(-50%);
    background-color: #707070;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #707070 transparent transparent transparent;
}